#intro-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.content.span-5.span-video {
    width: 56.6rem;
    justify-content: space-between;
    align-items: center;
}

.span-video .footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.span-video .footer .button {
    outline: 0 none;
}

.group-image {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*justify-items: baseline;*/
    flex-wrap: wrap;
}

.group-image .item {
    position: relative;
    width: 50%;
    margin: 10px;
}

.group-image .item img {
    width: 100%;
}

.band-item {
    position: relative;
}

.band-item .content-band {
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.band-item .content-band h2 {
    z-index: 100;
}